---
import Layout from "../layouts/Layout.astro";
import NormalPage from "../components/NormalPage.astro";
import ShadeBob from "../components/ShadeBob.astro";
---

<Layout title="Martin's Stuff">
  <NormalPage date="2025-08-09">
    <Fragment slot="side">
      <hr />
      <p
        style="font-size: 15px; line-height: 22px; text-align: justify; hyphens: auto;"
      >
        <b>Techie Note:</b> This site is an <a href="https://astro.build/"
          >Astro</a
        >
        app written in <a href="https://www.typescriptlang.org/"
          >Type&shy;Script</a
        > and hosted by <a href="https://vercel.com/">Vercel</a> with data stored
        at <a href="https://turso.tech/">Turso</a>.&nbsp; If you are curious you
        can browse the source code on <a
          href="https://github.com/martinkeefe/astro-me">GitHub</a
        >.
      </p>
    </Fragment>

    <ShadeBob />
  </NormalPage>
</Layout>
